/* Write your global styles here, in PostCSS syntax */
/* place global styles here */

/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html,
body {
  @apply h-full;
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
}
